html
  head
    title= title || ''
    link(rel= 'stylesheet', href= '/css/reset.css' )
    link(rel= 'stylesheet', href= '/css/global.css' )
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    script(src= 'http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src= '/js/loading.js')
    script(src= '/js/global.js')
  body
    nav#header
      .wrapper
        a#logo(href= '/')
            img(src= logo, height= '44')
            span  | Translation platform
        a#logout(href= '/auth/logout') logout
        ul#locales
          -each loc in authorized_locales
            li
              a(href= '/' + loc + '/all/', class= loc === locale ? 'selected' : '')
                = loc
    .clearer

    .wrapper
      #content

        -messages = flash()
        -if (Object.keys(messages).length)
          #flash_messages
            -each msgs, type in messages
              div(class= 'box ' + type)
                h2= type
                ul
                  -each msg in msgs
                    li= msg

        block body
