extends ../../layout.jade

block body
  form(action= '/auth/form/', method= 'post', style= 'margin-top: 30px')
    fieldset
      .field
        label(for= 'username') User
        input(id=  'username', name= 'username', value= '', type= 'text')

      .field
        label(for= 'password') Password
        input(id=  'password', name= 'password', value= '', type= 'password')

    .operations
        input.button(type= 'submit', value= 'Login')
