extends ../../layout.jade

block body
  form.login(action= '/auth/form/', method= 'post', style= 'margin-top: 180px')
    fieldset
      .field
        input(id=  'username', name= 'username', value= '', type= 'text', placeholder='User')

      .field
        input(id=  'password', name= 'password', value= '', type= 'password', placeholder='Password')

    .operations(style= 'margin-top: 15px')
        input.button(type= 'submit', value= 'Login')
